In [ ]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
#import required packages

In [ ]:
df= pd.read_csv(r"C:\Users\NIRJHAR\Documents\zico documents\heavy dataset\Banagalore_house_price.csv")
print (df.head())
print(df.columns)
df.to_csv(r"C:\Users\NIRJHAR\Documents\zico documents\heavy dataset\updated_sheet.csv")
df_copy=pd.read_csv(r"C:\Users\NIRJHAR\Documents\zico documents\heavy dataset\updated_sheet.csv")
#load and read csv file for modifications

              area_type   availability                  location  size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II   2.0
1            Plot  Area  Ready To Move          Chikka Tirupathi   4.0
2        Built-up  Area  Ready To Move               Uttarahalli   3.0
3  Super built-up  Area  Ready To Move        Lingadheeranahalli   3.0
4  Super built-up  Area  Ready To Move                  Kothanur   2.0

       Bed  society total_sqft  bath  balcony   price
0      BHK  Coomee        1056   2.0      1.0   39.07
1  Bedroom  Theanmp       2600   5.0      3.0  120.00
2      BHK      NaN       1440   2.0      3.0   62.00
3      BHK  Soiewre       1521   3.0      1.0   95.00
4      BHK      NaN       1200   2.0      1.0   51.00
Index(['area_type', 'availability', 'location', 'size', 'Bed', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [ ]:
df_copy=pd.read_csv(r"C:\Users\NIRJHAR\Documents\zico documents\heavy dataset\updated_sheet.csv")
#read csv file after each modification in csv file

In [ ]:
df_copy.to_csv(r"C:\Users\NIRJHAR\Documents\zico documents\heavy dataset\updated_sheet.csv",index= False)
#update csv file after modifying through code

Performed one-hot encoding of data using pd.get_dummies() to convert categorical data into numerical form.
THe cell had been deleted after the work.

In [ ]:
for col in df_copy.columns:
    if(df_copy[col].dtypes==bool):
        df_copy[col]=df_copy[col].astype(int)
print(df_copy.dtypes)
#convert datatypes of columns to integer or float for use in regression model

size                                     int64
bath                                     int64
balcony                                  int64
price                                  float64
area_type_Built-up  Area                 int64
area_type_Carpet  Area                   int64
area_type_Plot  Area                     int64
area_type_Super built-up  Area           int64
Bed_BHK                                  int64
Bed_Bedroom                              int64
Bed_RK                                   int64
net_sqft                               float64
status_April                             int64
status_August                            int64
status_December                          int64
status_February                          int64
status_January                           int64
status_July                              int64
status_June                              int64
status_March                             int64
status_May                               int64
status_November                          int64
status_October                           int64
status_Ready To Move                     int64
Zone_Central Bangalore                   int64
Zone_East Bangalore                      int64
Zone_North-East Bangalore                int64
Zone_North-West Bangalore                int64
Zone_Outskirts/Peripheral Bangalore      int64
Zone_South Bangalore                     int64
Zone_South-East Bangalore                int64
Zone_South-West Bangalore                int64
Zone_Uncategorized                       int64
Zone_West Bangalore                      int64
dtype: object

In [ ]:

if (np.all(df_copy["Bed_BHK"] <=1 ) and np.all(df_copy["Bed_Bedroom"]<=1) and np.all(df_copy["Bed_RK"]<=1)):
    df_copy["Bed_Bedroom"]=df_copy["size"]*df_copy["Bed_Bedroom"]
    df_copy["Bed_BHK"]=df_copy["size"]*df_copy["Bed_BHK"]
    df_copy["Bed_RK"]=df_copy["Bed_RK"]*df_copy["Bed_RK"]
print (df_copy.head())
#modified and seperated size as bedroom,BHK and RK types

   Unnamed: 0   availability                  location  size  society  \
0           0         19-Dec  Electronic City Phase II   2.0  Coomee
1           1  Ready To Move          Chikka Tirupathi   4.0  Theanmp
2           2  Ready To Move               Uttarahalli   3.0      NaN
3           3  Ready To Move        Lingadheeranahalli   3.0  Soiewre
4           4  Ready To Move                  Kothanur   2.0      NaN

  total_sqft  bath  balcony   price  area_type_Built-up  Area  \
0       1056   2.0        1   39.07                         0
1       2600   5.0        3  120.00                         0
2       1440   2.0        3   62.00                         1
3       1521   3.0        1   95.00                         0
4       1200   2.0        1   51.00                         0

   area_type_Carpet  Area  area_type_Plot  Area  \
0                       0                     0
1                       0                     1
2                       0                     0
3                       0                     0
4                       0                     0

   area_type_Super built-up  Area  Bed_BHK  Bed_Bedroom  Bed_RK
0                               1      2.0          0.0       0
1                               0      0.0          4.0       0
2                               0      3.0          0.0       0
3                               1      3.0          0.0       0
4                               1      2.0          0.0       0

In [ ]:
#df_copy["Bed_BHK"]=pow(df_copy["Bed_BHK"],2)
#df_copy["size"]=pow(df_copy["size"],0.5)
#df_copy["net_sqft"]=pow(df_copy["net_sqft"],0.1)
#df_copy["balcony"]=pow(df_copy["balcony"],10)
#df_copy["bath"]=pow(df_copy["bath"],0.5)
#df_copy["net_sqft"]=np.expm1(df_copy["net_sqft"])

Modified features individually to have a better correlation with price.